@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  padding: 1.5em;
}

h2, h1 {
  margin-bottom: 0;
  margin-top: 0;
  color: #393E46;
}

p {
  font-size: 20px;
  color: #393E46;
}

button {
  background-color: #393E46;
  padding: 1em 2em;
  color: #F7F7F7;
  outline: none;
  border-radius: 10px;
  font-weight: 700;
  margin: 1em 0em;
}