.introduction {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 8em;
}

.name {
  font-size: 2em;
}

.skills {
  margin-top: 15em
}

.footer hr {
  background-color: black;
}

.footer p {
  margin-bottom: 0;
}

.footer {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 0;
}

.list p {
  margin: 0;
}

.list :first-child{
  margin-bottom: 10px;
}

.list :last-child{
  margin-bottom: 10px;
}

.projects {
  margin-top: 5em;
}

.project {
  padding: 1em;
  border: solid 2px #393E46;
  border-radius: 10px;
  margin-bottom: 10px;
}

.project button {
  margin: 0;
}

.project p {
  margin: 10px 0px;
}